<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{180,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,135}}</string>
                <key>sourceSize</key>
                <string>{180,135}</string>
            </dict>
            <key>Blue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,201},{180,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,135}}</string>
                <key>sourceSize</key>
                <string>{180,135}</string>
            </dict>
            <key>Blue_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,201},{180,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,135}}</string>
                <key>sourceSize</key>
                <string>{180,135}</string>
            </dict>
            <key>Green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,201},{180,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,135}}</string>
                <key>sourceSize</key>
                <string>{180,135}</string>
            </dict>
            <key>Green_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{180,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,135}}</string>
                <key>sourceSize</key>
                <string>{180,135}</string>
            </dict>
            <key>Green_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,201},{180,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,135}}</string>
                <key>sourceSize</key>
                <string>{180,135}</string>
            </dict>
            <key>Hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{195,161}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{195,161}}</string>
                <key>sourceSize</key>
                <string>{225,169}</string>
            </dict>
            <key>LevelProgressBar_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{1000,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,16}}</string>
                <key>sourceSize</key>
                <string>{1000,16}</string>
            </dict>
            <key>LevelProgressBar_FG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{1000,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,16}}</string>
                <key>sourceSize</key>
                <string>{1000,16}</string>
            </dict>
            <key>Red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{180,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,135}}</string>
                <key>sourceSize</key>
                <string>{180,135}</string>
            </dict>
            <key>Red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{180,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,135}}</string>
                <key>sourceSize</key>
                <string>{180,135}</string>
            </dict>
            <key>Red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,2},{180,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,135}}</string>
                <key>sourceSize</key>
                <string>{180,135}</string>
            </dict>
            <key>ScoreFont_L_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,338},{52,80}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{52,80}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>ScoreFont_L_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,338},{42,76}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{42,76}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>ScoreFont_L_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,338},{52,78}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{52,78}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>ScoreFont_L_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,338},{50,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{50,80}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>ScoreFont_L_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,338},{56,76}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{56,76}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>ScoreFont_L_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,338},{50,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{50,78}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>ScoreFont_L_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,338},{54,80}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{54,80}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>ScoreFont_L_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,338},{52,76}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{52,76}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>ScoreFont_L_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,338},{54,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{54,80}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>ScoreFont_L_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,338},{54,80}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{54,80}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>Selection.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,197}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{258,197}}</string>
                <key>sourceSize</key>
                <string>{270,203}</string>
            </dict>
            <key>TimerProgressBar_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{1000,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,12}}</string>
                <key>sourceSize</key>
                <string>{1000,12}</string>
            </dict>
            <key>TimerProgressBar_FG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{1000,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,12}}</string>
                <key>sourceSize</key>
                <string>{1000,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture_tiles_retina.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f9afd2040e67eaaece142e3727845b8$</string>
            <key>textureFileName</key>
            <string>texture_tiles_retina.pvr.ccz</string>
        </dict>
    </dict>
</plist>
